footer {
  color: var(--gold);
  background-color: var(--white);
  height: 100%;
  width: 100%;
}
.footerFirst {
  align-items:start;
  border-bottom: 1px solid var(--gold);
  color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
}
.details {
  align-items: first baseline;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 30%;
}
.logoFooter{
  height: 40px;
  margin-bottom: 1rem;
  width: 40px;
}
.titleFooter{
  color: var(--gold);
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.lawLink h4{
    font-weight: 100;
}

.footerSecond{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.portfolioLink{
  color: var(--gold);
  font-size: 12px;
  padding: 0.5rem 0;
}

@media (max-width: 790px) {
  .footerFirst {
    margin: 0.5rem 1rem;
  }
  .details {
    font-size: 14px;
  }
}
@media (max-width: 670px) {
  .footerFirst {
  flex-direction: column;
  width: 100%;
  }
  .details {
    margin-top: 2rem;
    width: 50%;
  }
  .details h3{
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 480px) {
  .footerFirst {
    width:auto;
  }
  .details {
    width: 80%;
  }
}
