.menuExp__section{
    -webkit-animation: slideIn 500ms forwards;
    animation: slideIn 500ms forwards;
    opacity: 0;
    overflow-x: hidden;
}
.menuExpUl{
    font-size: 14px;
    margin: 0;
}
.lawMenu{
    padding: 0.5rem 0;
}
.lawLink{
    color: var(--gold);
}
.menuExp__section hr{
    background-color: var(--gold);
    border: none;
    color: var(--gold);
    height: 1px;
    width: 100%;
}
@keyframes slideIn {
    100% { opacity: 1;}
}

