.background{
    background-color: rgba(0, 0, 0, 0.416);
    height: 100svh;
    width: 100%;
}
.background.close{
    opacity:0;
}
.menu2__section{
  opacity: none;
}
.menu2__section.close{
  height: 100svh;
  width: 1px;
  opacity: 0;
  transition: all .75s ease;
  }
.closeIcon{
    position: absolute;
    right: 1em;
    top: 1em;
  }
.menu2Ul{
    margin-top: 2.5em;
    width: 95%;
  }
.menu2Btn{
    background-color: var(--black);
    background: linear-gradient(
      to right,
      transparent,
      transparent
    ),
    linear-gradient(
      to right,
      var(--gold),
      var(--gold),
      var(--gold)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  border: none;
  color: var(--gold);
  margin-right: 1em;
  outline: none;
  transition: background-size 400ms;
  z-index: 99;
}
.menu2Btn:hover {
  background-size: 0 3px, 100% 3px;
}
.menu2Btn:focus {
  background-size: 0 3px, 100% 3px;
}
.menu2__section hr{
    background-color: var(--gold);
    border: none;
    color: var(--gold);
    height: 1px;
    width: 100%;
}
.showExpBtn{
    background-color: transparent;
    border: none;
    outline: none;
}

@media (max-width: 1030px){
  .menu2__section{
    -moz-animation: slide 0.5s forwards;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
    background-color: var(--white);
    height: 100svh;
    opacity: 1;
    position: fixed;
    right: -300px;
    top:0;
    transition: all .75s ease;
    width: 300px;
    z-index: 9999999999999999999999999999999999;
  }
  .menu2Ul{
    min-height: 346px;
    position: absolute;
  }
  .menu2Li{
    align-items:start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 68px;
    width: 100%;
  }
  .menu2LiSideMenu{
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 68px;
    width: 100%;
  }
  .menu2LiSideMenuBtns{
    display: flex;
    flex-direction: row;
    min-height: 48px;
  }

@keyframes slide {
    100% { right: 0; }
}
}

@media (max-width: 550px){
    .menu2__section{
        width: 100%;
    }
}
