.navBar {
  position: absolute;
  width: 100%;
  z-index: 99;
}

aside {
  background-image: url("./../../assets/backgro.png");
  background-position: top right;
  background-size: cover;
  height: 100svh;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  aside {
    background-image: url("./../../assets/backgroDark.png");
  }
}
