footer {
  background-color: var(--white);
  height: 100%;
  width: 100%;
}
.footerFirst {
  align-items: first baseline;
  border-bottom: 1px solid var(--gold);
  color: var(--black);
  display: flex;
  flex-direction: row;
  height: 20svh;
  justify-content: space-between;
  margin: 0.5em 3em;
}
.details {
  color: black;
  float: left;
  overflow: hidden;
  padding: 0.7em;
}
@media (max-width: 790px) {
  .footerFirst {
    margin: 0.5em 1em;
  }
  .details {
    font-size: 14px;
  }
}
@media (max-width: 670px) {
  .footerFirst {
    padding-bottom: 0.1em;
  }
  .details {
    overflow: visible;
  }
}
@media (max-width: 480px) {
  .footerFirst {
    align-items: first baseline;
    border-bottom: 1px solid var(--gold);
    color: var(--black);
    display: flex;
    flex-direction: column;
    height: 40svh;
  }
  .details {
    overflow: visible;
    padding-right: 0;
    width: 100%;
  }
}
